<div *ngIf="data" class="card">
  <div class="card-body">
    <h4 class="card-title">{{'PeriodParticipateRequestActions.Title.One' | translate}} ({{data.year?.alternateName}}  {{data.period?.name | translate}})</h4>
    <div *ngIf="data">
        <h6 class="font-weight-normal">
          <span [translate]="'PeriodParticipateRequestActions.SubmittedAt'"></span>
          <span>&nbsp;</span>
          <span>{{data.startTime | date: 'short'}}</span>
          <span>&nbsp;</span>
          <span [translate]="'Requests.ActionStatusTypes.' + data.actionStatus.alternateName"></span>
        </h6>
    </div>
    <div class="row" *ngIf="loading">
      <!--begin:pre-loading state-->
      <div class="ph-col-12">
        <div class="ph-row py-2">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-10 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-4 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
      </div>
      <!--end:pre-loading state-->
    </div>

    <div *ngIf="data" class="col-12">
      <div>
        <ng-container *ngIf="data">
          <div class="row" *ngIf="data.agree">
            <div class="py-2 d-flex">
              <label class="mr-3 align-self-center">
                <i class="fa fa-2x text-indigo" [ngClass]="{'fa-check': data.agree, 'fa-circle text-gray-100': !data.agree}"></i>
              </label>
              <label  [translate]="'PeriodParticipateRequestActions.Agree'"></label>
            </div>
          </div>
          <div class="row" *ngIf="data.reject">
            <div class="py-3">
              <div class="py-2 d-flex">
                <label class="mr-3 align-self-center">
                  <i class="fa fa-2x text-danger fa-ban"></i>
                </label>
                <label  [translate]="'PeriodParticipateRequestActions.NotAgree'"></label>
              </div>
            </div>
          </div>


        </ng-container>

      </div>
    </div>
  </div>
</div>
