<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 pl-0">
      <div class="m-lg-3">
        <div class="d-flex justify-content-start">
          <div class="image-container">
            <div class="avatar avatar-6" [ngClass]="{
        'avatar-male-student' : student?.person?.gender.alternateName === 'male',
        'avatar-female-student' : student?.person?.gender.alternateName === 'female' }">
            </div>
          </div>
          <div class="ml-3 align-self-center">
            <h1 [translate]="'Dashboard'"></h1>
            <h6 class="font-weight-normal">{{ student.person | localize:['familyName'] }} {{ student.person |
              localize:['givenName'] }}</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12">
       <div class="m-3">
         <div class="s--btn-group-toggle float-right">
           <div class="btn-group btn-group-toggle" data-toggle="buttons">
             <label class="btn btn-toggle active">
               <input type="radio" name="options" id="option1" autocomplete="off" checked ><span [translate]="'iDashboard.Semester'" (click)="viewsemester=true;"></span>
             </label>
             <label class="btn btn-toggle">
               <input type="radio" name="options" id="option2" autocomplete="off" ><span [translate]="'iDashboard.Degree'" (click)="viewsemester=false;"></span>
             </label>
           </div>
         </div>
       </div>
     </div>-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="m-lg-3">
        <!-- This component is not used for now. -->
        <!-- <div *ngIf="viewsemester"><app-progress-bar-semester></app-progress-bar-semester></div>  -->
        <div *ngIf="!viewsemester"><app-progress-bar-degree></app-progress-bar-degree></div>
      </div>
    </div>
  </div>
  <div *ngIf="messageHeader" class="card col-12 mt-2">
    <div class="card-body" >
      <h4 [innerHTML]="messageHeader" ></h4>
      <div [innerHTML]="messageBody"></div>
    </div>
  </div>
  <div class="row mt-3">
    <ng-container *ngIf="diningServiceEnabled">
      <div class="col-12">
        <universis-dining-preference></universis-dining-preference>
      </div>
    </ng-container>
  </div>
  <div class="row mt-3">
    <div class="col-lg-7 mb-3">
      <app-student-recent-courses></app-student-recent-courses>
    </div>

    <div class="col-lg-5 mb-3">
      <app-student-recent-grades></app-student-recent-grades>
    </div>
  </div>
</div>
